@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    scroll-behavior: smooth;
}

.left{
    left: 50%;
}
.right{
    right: 50%;
}
.top{
    top: 50%;
}
.bottom{
    bottom: 50%;
}
